<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Enviar Correos</title>
    <!-- Incluye Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Enviar Correos Masivos</h2>
        <form th:action="@{/enviar-correos}" method="post">
            <div class="form-group">
                <label for="promocion">Selecciona una Promoción:</label>
                <select id="promocion" name="promocionId" class="form-control">
                    <option th:each="promocion : ${promociones}" th:value="${promocion.idpromocion}" th:text="${promocion.titulo}">Promoción</option>
                </select>
            </div>
            <div class="form-group">
                <label for="emails">Correos Electrónicos (separados por comas):</label>
                <textarea id="emails" name="emails" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm">Enviar Correos</button>
            </div>
        </form>
    </div>
    <!-- Incluye Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
